<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.muzi.class_selection.repository.ClassRepository">


    <select id="search"
            parameterType="fun.muzi.class_selection.entity.Curriculum"
            resultType="Map">
        select cour_id, curr_id, year, semester,IF(stud_num is null, 0, stud_num)as stud_num,cour_name,
               type, exam_type, depa_name, credit, requirement, prerequisite, start_week, end_week, lect_id,
            lect_name, room_id, campus, building, door, slot_id, day, start_class, end_class, capacity
        from curr_count natural right outer join class
        <where>
            <if test='day != "*"'>AND day = #{day}</if>
            <if test='campus != "*"'>AND campus=#{campus}</if>
            <if test='depa_name != "*"'>AND depa_name = #{depa_name}</if>
            <if test='cour_id != ""'>AND cour_id = #{cour_id}</if>
            <if test='curr_id != ""'>AND curr_id = #{curr_id}</if>
            <if test="year != null">AND year = #{year}</if>
            <if test='semester != ""'>AND semester = #{semester}</if>
            <if test='lect_id != ""'>AND lect_id = #{lect_id}</if>
            <if test='lect_name != ""'>AND lect_name = #{lect_name}</if>
            <if test='cour_name != null'>AND cour_name like concat(concat('%',#{cour_name}),'%')</if>
        </where>
    </select>

    <select id="redundantSearch"
            parameterType="fun.muzi.class_selection.entity.Curriculum"
            resultType="Map">
        select cour_id, curr_id, year, semester,IF(stud_num is null, 0, stud_num)as stud_num, cour_name,
        type, exam_type, depa_name, credit, requirement, prerequisite, start_week, end_week, lect_id,
        lect_name, room_id, campus, building, door, slot_id, day, start_class, end_class, capacity
        from curr_count natural right outer join class
        <where>
            (stud_num is null or stud_num &lt; capacity)
            <if test='day != "*"'>AND day = #{day}</if>
            <if test='campus != "*"'>AND campus=#{campus}</if>
            <if test='depa_name != "*"'>AND depa_name = #{depa_name}</if>
            <if test='cour_id != ""'>AND cour_id = #{cour_id}</if>
            <if test='curr_id != ""'>AND curr_id = #{curr_id}</if>
            <if test="year != null">AND year = #{year}</if>
            <if test='semester != ""'>AND semester = #{semester}</if>
            <if test='lect_id != ""'>AND lect_id = #{lect_id}</if>
            <if test='lect_name != ""'>AND lect_name = #{lect_name}</if>
            <if test='cour_name != null'>AND cour_name like concat(concat('%',#{cour_name}),'%')</if>
        </where>
    </select>

</mapper>